* {
    font-family: 'Orbitron', sans-serif;
}

body {
    background-color: #252525;
}

.relogio {
    display: flex;
    justify-content: center;
    color: #fec63e;
    font-size: 8em;
    margin-top: 45vh;
}



